@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$black: hsl(0, 5%, 19%);

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Josefin Sans';
	header {
		height: 90vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		nav {
			text-align: center;
			h1 {
				margin: 28px 0;
				letter-spacing: 2px;
			}
			button {
				background-color: lightgrey;
				border: none;
				box-shadow: 1px 1px 1px black;
				padding: 1px;
				letter-spacing: 1px;
				border-radius: 3px;
				outline: none;
				position: absolute;
				top: 10px;
				right: 10px;
				&:hover {
					cursor: pointer;
				}
				hr {
					border: 1px solid black;
					width: 20px;
					margin: 5px;
				}
			}
			#navLinks {
				overflow: hidden;
				ul {
					padding: 0;
					display: flex;
					width: 100%;
					li {
						list-style: none;
						width: 100%;
						a {
							text-decoration: none;
							margin: 0 20px;
							color: black;
						}
					}
				}
			}
		}
		div {
			text-align: center;
			margin: 10px 0 35px;
			h1, h2 {
				margin: 10px 0;
			}
			h1:nth-of-type(1), h1:nth-of-type(4) {
				letter-spacing: 1px;
			}
		}
		p {
			letter-spacing: 1px;
		}
	}
}

.hide {
	height: 0px;
	-webkit-transition: height 1s;
	transition: height 1s;
}

.show {
	height: 20px;
	-webkit-transition: height 1s;
	transition: height 1s;
}

@media (min-width: 768px) {
	#navButton {
		display: none;
	}
}

@media (max-width: 768px) {
	header {
		margin-top: 50px;
		background-color: white;
	}
	body {
		background-color: $black;
	}
}

